html,
body {
  height: 100%;
  margin: 10;
  color: white;
  background: linear-gradient(blue, rgb(1, 209, 224));
}

#text {
  text-align: center;
  
}

.nan {
  position: relative;
  left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid white;
  background-image: url(source/images/matrix.png);
}

.buttons {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 10px;
  border: 8px groove blue;
  background-color: lightblue;
  font-size: 20px;
}
.buttons:hover {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  padding: 18px;
  font-size: 18px;
}

#queue {
  position: relative;
  bottom: 160px;
  margin: 20px;
  align-items: top;
}

#viewnext {
  margin: 20px;
  position: relative;
  bottom: 160px;
}

#UI {
  font-size: 20px;
}

#UIlist {
  position: relative;
  right: 160px;
  list-style-type: square;
}
