@keyframes background {
  50% {
    background-position: center;
  }
}

#all-contents {
  padding: 10px;
  font-family: Arial, sans-serif;
  max-width: calc(100% - 140px);
  margin: auto;
}
body {
  background-color: gray;
  /*background-image: url(sourced\ images/potato.png);
  background-position: top left;
  animation: background 5s infinite;*/
  background-size: 260px 140px;
  /* background-image: url(sourced\ images/potato.png), url(sourced\ images/potato.png);
    background-repeat: repeat-y;
    background-size: 158px 89px;
    background-attachment: fixed;
    background-position-x: left, right;
    code reminants */
}

nav {
  background: #49759c;
  margin: 0 auto;
  display: flex;
  padding: 0 auto 20px auto;
  margin-bottom: 20px;
  border-radius: 15px;
  border-style: groove;
  border-color: #70a7d8;
  border-width: 20px;
  outline-color: black;
  outline-width: 20px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; 
  padding: 10px 20px; 
}

h1 {
  display: flex;
  align-items: center;
  color: aquamarine;
  flex: 1;
  margin: 0;
  font-family: "Lucida Console";
  font-size: 30px;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  gap: 20px;
}

.nav-li {
  display: inline-block;
  padding: 0 10px;
  color: navy;
}

.nav-li a {
  text-decoration: none;
  color: navy;
}

main {
  display: flex;
  margin-top: 20px;
}

.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: calc(100% + 20px);
  border-style: ridge;
  border-radius: 10px;
  border-width: 20px;
}

.sidebar-img2 {
  margin: 20px;
  float: right;
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 75%;
  border-style: ridge;
  border-radius: 10px;
  border-width: 20px;
}

#interests {
  border: 4px silver ridge;
  padding: 3px;
  grid-column: 1 / -1;
  width: calc(100% - 260px);
}

#interests li {
  font-size: 25px;
}

h2,
h3 {
  background-clip: text; 
  -webkit-background-clip: text;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: transparent;
  margin: 10px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(143, 206, 255) 20%,
    rgb(80, 179, 255) 50%,
    rgb(143, 206, 255) 80%,
    rgb(255, 255, 255)  100%
  );
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.content h1 {
  color: black;
}

.portfolio {
  list-style-type: none;
  padding-left: 0;
  grid-column: 1 / -1;
}


.nav-li a:hover {
  color: #f28500;
}


#potato {
  height: 32px;
  width: 47px;
}

.main-projects {
  text-align: center;
  grid-column: 1 / -1;
}

.content {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;
  background: linear-gradient(rgb(210, 210, 210) 10%, rgb(236, 236, 236) 90%);
  width: 100%;
  height: auto;
  padding: 15px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  border: 3px solid rgb(208, 208, 208);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  text-align: center;
}

.portfolio li {
  padding: 15px;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 4%, rgba(255, 255, 255, 0) 18%);
  opacity: 0.8;
}
.content::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.25) 1%, rgba(255, 255, 255, 0) 2.65%);
  border-radius: 10px 10px 0 0;
  opacity: 0.8;
}

.content a {
  display: block;
  min-width: 50%;
  padding: 20px 60px;
  border-radius: 10px;
  border: 3px solid rgba(14, 244, 194, 0.3);
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(14, 220, 198, 0.4) 30%, rgba(14, 236, 184, 0.3) 88%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  text-align: center;
  z-index: 20;
  font-weight: 200;
}

.content a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 1%, rgba(255, 255, 255, 0) 35%);
  border-radius: 10px 10px 0 0;
  opacity: 0.8;
}

.content a:hover {
  background: linear-gradient(180deg, rgba(14, 244, 198, 0.36) 0%, rgba(14, 224, 188, 0.28) 55%);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  border: 3px solid rgba(14, 244, 200, 0.1);
  transition: all 0.2s ease-in-out;
}

.content a:active {
  transform: translateY(0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#tetris a {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: "VT323", monospace;
  color: red;
  -webkit-text-stroke: 2px orange;
}
#pong a {
  color: forestgreen;
  font-size: 50px;
  font-family: "Bungee", sans-serif;
  letter-spacing: 0.1em;
}

.content h2 {
  min-width: 50%;
}

#portfolio-text {
  font-size: 40px;
  margin-top: 20px;
  padding: 10px;
  padding-left: 25%;
  padding-right: 25%;
  border-radius: 10px;
  font-family: papyrus;
  z-index: 20;
  background-color: #565656;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
}

.updateboard {
  align-items: center;
  border-style: outset;
  border-color: #49759c;
  border-width: 10px;
  border-radius: 5px;
  align-items: center;
  background: linear-gradient(rgb(0, 79, 225) 10%, rgb(0, 72, 207) 90%);
  padding: 15px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: rgb(205, 147, 40);
  box-shadow: inset -8px -8px 25px rgba(0, 0, 0, 0.6);
  padding-bottom: 35px;
}


.updateboard:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45) 0.3%, rgba(255, 255, 255, 0) 3%);
  opacity: 0.8;
}

.date {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 40px;
  padding-top: 10px;
  font-weight: bold;
  margin: 10px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.577);
}
#maintxt {
  all: unset;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 68px;
  padding-top: 30px;
  background-image: linear-gradient(to bottom, rgb(255, 237, 133) 20%, rgb(239, 203, 0) 20%, rgb(217, 165, 32) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: underline;
  z-index: 20;
  color: transparent;
  -webkit-text-fill-color: transparent; 
}

.updateboard li {
  list-style: none;
  padding-top: 10px;
  font-size: 20px;
  padding-left: 15px;
  z-index: 20;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.577);
}

.updateboard a {
  color: rgb(14, 237, 129);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.577);
}

.updateboard a:hover {
  color:rgb(0, 139, 72);
}

.updateboard p {
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.577);
  margin: 5px;
}

#name {
  font-size: 65px;
}