body {
    background: gray;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

nav {
    background: #49759c;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border-style: groove;
    border-color:#70a7d8;
    border-width: 20px;
    outline-color: black;
    outline-width: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: aquamarine;
    flex: 1;
    margin: 0;
    font-family: "Lucida Console";
    font-size: 30px;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
    color: navy;
}

a {
    text-decoration: none;
    color: navy;
}

main {
    background: rgb(245, 238, 219);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 20px;
}

.content {
    flex: 1;
    padding: 15px;
}

#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

.content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: red;
}

.nav-li a:hover {
    color: #f28500;
}

#portfolio-text {
    font-family: papyrus;
}

.content h2 {
    font-family: fantasy;
    font-size: 47px;
    outline: dotted;
    outline-width: 8px;
    text-align: center;
    color: steelblue;
}
#potato {
    height: 32px;
    width: 47px;
}

#cake a {
    font-size: 10px;
}