
body {
  background-color: darkgreen;
}

#board {
  width: 640px;
  height: 640px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  width: 60px;
  height: 60px;
  background-color: maroon;
  position: absolute;
  font-size: 20px;
  color: white;
  text-align: center;
}

#walker2 {
  background-color: teal;
  width: 60px;
  height: 60px;
  position: absolute;
  font-size: 20px;
  color: white;
  text-align: center;
}

h1, h2 {
  color: white;
  padding: 5px;
}

#timer {
  margin: 5px;
  font-size: 45px;
  color: white;
}