body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    background-color: gray;
}

#hp {
    position: absolute;
}

body {
  cursor: url('sources/img/cross-hair.png') 1 1, auto;
}
