#die {
  height: 115px;
  width: 115px;
  background-color: lightgray;
  position: relative;
  margin-bottom: 15px;
}

#die2 {
  height: 115px;
  width: 115px;
  background-color: lightcyan;
  position: relative;
}