

body {
  margin: 0px;
  background-color: rgb(60, 60, 60);
}

canvas {
  background-color: lightgray;
  margin: 20px;
}

img {
  display: none;
}

#timer {
  font-size: 30px;
  border-radius: 10px;
  border-style: groove;
  border-width: 10px;
  border-color: gray;
  color: white;
}
