@keyframes ghostly-blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

.loadingScreen {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  font-size: 60px;
  font-size: 280px;
  text-align: center;
}

body {
  background-color: darkgreen;
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  user-select: none;
}

.MENU {
  align-content: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#title {
  font-size: 140px;
}

button {
  min-width: 440px;
  font-size: 35px;
  margin: 10px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.1s ease;
  position: relative;
  overflow: hidden;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 8px;
}

button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0;
}

button:hover::after {
  background: rgb(255, 255, 255);
  opacity: 0.5;
}

button:active:after {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  border: 2px solid #adadad;
}

#showColor {
  position: absolute;
  text-align: center;
  width: 140px;
  height: 140px;
  left: calc(70% - 140px);
  top: calc(50% - 70px);
  background-color: rgb(127, 127, 127);
  border: 5px solid black;
}

#selection button {
  font-size: 15px;
  min-width: 60px;
  margin: 3px;
  padding: 5px;
}

.slider {
  width: 280px;
  margin: 0px;
}

form {
  margin: 0px;
}

output {
  font-size: 20px;
  color: white;
}

h1,
h2,
p {
  color: white;
}

p {
  font-size: 25px;
  margin: 5px;
}
h1 {
  font-size: 85px;
  margin: 10px;
}
h2 {
  font-size: 55px;
}

#board {
  width: 1440px;
  height: 700px;
  border: 3px dashed white;
  background-color: rgb(62, 77, 77);
  position: relative;
  margin: 0 auto;
}

#readyMsg {
  -webkit-text-stroke: 2px black;
  position: absolute;
  text-align: center;
  top: calc(50% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#pauseBtn {
  all: unset;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 8px;
  background: rgba(51, 51, 51, 0.5);
  color: #e4e4e4;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

#pausedMsg {
  -webkit-text-stroke: 2px black;
  position: absolute;
  text-align: center;
  top: calc(50% - 140px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#pausedBtns {
  position: absolute;
  text-align: center;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: none;
  opacity: 0.3;
}

#paddleL {
  background-color: red;
  width: 25px;
  height: 180px;
  position: absolute;
  left: 5%;
  top: 250px;
  border-radius: 5px;
  box-shadow: -2px -4px 10px rgb(18, 18, 18) inset;
}

#paddleR {
  background-color: blue;
  width: 25px;
  height: 180px;
  position: absolute;
  left: calc(95% - 25px);
  top: 250px;
  border-radius: 5px;
  box-shadow: -2px -4px 10px rgb(18, 18, 18) inset;
}

#ball {
  background-color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-radius: 50%;
  box-shadow: -2px -4px 10px rgb(18, 18, 18) inset;
  z-index: 1;
}

#ball-1 {
  left: calc(50% - 20px);
}

#ball-2 {
  left: calc(50% - 40px);
}

#ball-3 {
  left: calc(50% + 20px);
}

.ghost {
  animation: ghostly-blink 4s linear infinite;
}

#scoreL {
  color: white;
  font-size: 80px;
  position: absolute;
  left: 20%;
  bottom: 40px;
  text-align: center;
}

#scoreR {
  color: white;
  font-size: 80px;
  position: absolute;
  right: 20%;
  bottom: 40px;
  text-align: center;
}

#line {
  height: 100%;
  width: 10px;
  position: absolute;
  left: calc(50% - 5px);
  background: repeating-linear-gradient(
    to bottom,
    white,
    white 40px,
    transparent 36px,
    transparent 84px
  );
  /* border-left: 12px dashed white; */
}
