body {
  background-color: darkgreen;
}

#board {
  width: 1480px;
  height: 710px;
  border: 1px solid white;
  background-color: rgb(62, 77, 77);
  position: relative;
  left: 10px;
  margin: 0 auto;
}

#paddleL {
  background-color: red;
  width: 25px; 
  height: 180px;
  position: absolute;
  left: 100px;  
  top: 220px; 
  border-radius: 5px;
  box-shadow: -2px -4px 10px rgb(18, 18, 18) inset;
}

#paddleR {
  background-color: blue;
  width: 25px;
  height: 180px;
  position: absolute;
  left: 1360px;  
  top: 220px; 
  border-radius: 5px;
  box-shadow: -2px -4px 10px rgb(18, 18, 18) inset;
}

#ball {
  background-color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 710px;
  top: 300px;
  border-radius: 50%;
  box-shadow: -2px -4px 10px rgb(18, 18, 18) inset;
}

#scoreL {
  color: white;
  font-size: 80px;
  position: absolute;
  left: 360px;
  top: 520px;
}

#scoreR {
  color: white;
  font-size: 80px;
  position: absolute;
  left: 1080px;
  top: 520px;
}

#line {
  background-color: darkgray;
  width: 20px;
  height: 700px;
  position: absolute;
  left: calc(50% - 5px);
  border-width: 5px;
  border-style: outset; 
}